.map-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: #f0f0f0;
}

#map-container {
  height: 100vh;
  width: 100%;
  min-height: 300px;
}

